{% extends 'models/main.twig' %}

{% block content %}
<div class="block-center" >
  <div class="form-wrapp">
    <div class="tabs">
      <a href="javascript:void(0);" rel=".authorization">
        {{ Lang('title_login') }}
      </a>
      <a class="active-tab" href="javascript:void(0);" rel=".registration">
        {{ Lang('title_registration') }}
      </a>
    </div>

    <form id="loginForm" method="post" action="api/post.login">
      <fieldset class="authorization">
        <div class="form_block">
          <div class="element-wrapper">
            <input name="login" type="text"
                   placeholder="{{ Lang('form_login') }}*">
          </div>
          <a id="fp_button" href="javascript:void(0)">Забыли пароль?</a>
        </div>
        <div class="form_block">
          <div class="element-wrapper">
            <input name="pass" type="password"
                   placeholder="{{ Lang('form_pass') }}*">
          </div>
        </div>
        <input type="submit" value="{{ Lang('button_login') }}">
      </fieldset>
    </form>

    <form id="restoreForm" method="post" action="#">
      <fieldset class="restore">
        <div class="form_block">
          <div class="element-wrapper">
            <input name="email" type="text"
                   placeholder="{{ Lang('form_email') }}*">
          </div>
          <a id="back_login" href="javascript:void(0)">
            {{ Lang('link_back') }}
          </a>
        </div>
        <div class="form_block">
          <p>{{ Lang('text_restore') }}</p>
        </div>
        <input type="submit" value="{{ Lang('button_restore') }}">
      </fieldset>
    </form>

    <form id="signUpForm" action="/api/post.signUp"
          method="post" enctype="multipart/form-data">
      <fieldset class="registration">
        <div class="form_block" id="photo">
          <div class="photo-wrapper" id="drop-zone">
            <span id="d_d" class="vertical-center">
              {{ Lang('drag_drop') }}
            </span>
          </div>
        </div>

        <div class="form_block">
          <div class="element-wrapper">
            <input name="fio" type="text"
                   placeholder="{{ Lang('form_name') }}*">
          </div>
          <div class="element-wrapper">
            <input name="login" type="text"
                   placeholder="{{ Lang('form_login') }}*">
          </div>
        </div>

        <div class="form_block">
          <div class="element-wrapper">
              <input name="phone" type="text"
                     placeholder="{{ Lang('form_phone') }}">
          </div>
          <div class="element-wrapper">
              <input name="email" type="text"
                     placeholder="{{ Lang('form_email') }}*">
          </div>
        </div>

        <div class="form_block">
          <div class="element-wrapper">
              <input name="pass" type="password"
                     placeholder="{{ Lang('form_pass') }}*">
          </div>
          <div class="element-wrapper">
              <input name="repeat_pass" type="password"
                     placeholder="{{ Lang('form_repeat_pass') }}*">
          </div>
        </div>
        <button>{{ Lang('button_registration') }}</button>
      </fieldset>
    </form>
  </div>
</div>
{% endblock content %}
